.Rhistory
.Rapp.history
.RData
.Ruserdata

README.md~

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
schwarzschild.Rproj


# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/*.tex
vignettes/*.bbl
vignettes/*.aux
vignettes/*.lof
vignettes/*.log
vignettes/*.out
vignettes/*.R
vignettes/*.Rout

vignettes/jss.bst
vignettes/jss.cls
vignettes/jss.dbj
vignettes/jss.drv
vignettes/jss.dtx
vignettes/jss.ins




inst/eddington.jpg
inst/eddington_outgoing.jpg
inst/gullstrand.jpg
inst/gullstrand_with_drops.jpg
inst/javelin.Rmd
inst/kruskal.jpg
inst/kruskal_extended.jpg
inst/kruskal_inverted.jpg
inst/kruskal_with_throw.jpg
inst/lemaitre.jpg
inst/lemaitre_with_schwarzschild.jpg
inst/penrose_BH_cauchy.jpg
inst/penrose_BH_extended.jpg
inst/penrose_BH_laplace.jpg
inst/penrose_BH_logistic.jpg
inst/penrose_BH_norm.jpg
inst/penrose_cauchy.jpg
inst/penrose_laplace.jpg
inst/penrose_logistic.jpg
inst/penrose_norm.jpg
inst/schwarz_stringcoords.jpg
inst/schwarzschild.jpg
inst/schwarzschild_with_drops.jpg
inst/string_coords.html
inst/thrower.jpg
inst/thrower_asp1.jpg
inst/thrower_x.jpg
inst/thrower_xy.jpg
inst/thrower_y.jpg

inst/allplots.pdf
inst/eddington.pdf
inst/eddington.svg
inst/eddington_outgoing.pdf
inst/eddington_outgoing.svg
inst/eddington_string.pdf
inst/gullstrand.pdf
inst/gullstrand.svg
inst/gullstrand_stringcoords.jpg
inst/gullstrand_stringcoords.pdf
inst/gullstrand_stringcoords.svg
inst/gullstrand_stringcoords_with_drops.jpg
inst/gullstrand_stringcoords_with_drops.pdf
inst/gullstrand_stringcoords_with_drops.svg
inst/gullstrand_with_drops.pdf
inst/gullstrand_with_drops.svg
inst/kruskal.pdf
inst/kruskal.svg
inst/kruskal_extended.pdf
inst/kruskal_extended.svg
inst/kruskal_inverted.pdf
inst/kruskal_inverted.svg
inst/kruskal_with_throw.pdf
inst/kruskal_with_throw.svg
inst/lemaitre.pdf
inst/lemaitre.svg
inst/lemaitre_with_schwarzschild.pdf
inst/lemaitre_with_schwarzschild.svg
inst/penrose_BH_cauchy.pdf
inst/penrose_BH_cauchy.svg
inst/penrose_BH_extended.pdf
inst/penrose_BH_extended.svg
inst/penrose_BH_laplace.pdf
inst/penrose_BH_laplace.svg
inst/penrose_BH_logistic.pdf
inst/penrose_BH_logistic.svg
inst/penrose_BH_norm.pdf
inst/penrose_BH_norm.svg
inst/penrose_cauchy.pdf
inst/penrose_cauchy.svg
inst/penrose_laplace.pdf
inst/penrose_laplace.svg
inst/penrose_logistic.pdf
inst/penrose_logistic.svg
inst/penrose_norm.pdf
inst/penrose_norm.svg
inst/schwarz_stringcoords.pdf
inst/schwarz_stringcoords.svg
inst/schwarzschild.pdf
inst/schwarzschild.svg
inst/schwarzschild_stringcoords.jpg
inst/schwarzschild_stringcoords.svg
inst/schwarzschild_with_drops.pdf
inst/schwarzschild_with_drops.svg
inst/schwarzschildstring_with_drops.jpg
inst/schwarzschildstring_with_drops.pdf
inst/schwarzschildstring_with_drops.svg
inst/thrower.pdf
inst/thrower.svg
inst/thrower_asp1.pdf
inst/thrower_asp1.svg
inst/thrower_x.pdf
inst/thrower_x.svg
inst/thrower_xy.pdf
inst/thrower_xy.svg
inst/thrower_y.pdf
inst/thrower_y.svg





tests/*.R~
man/*.Rd~

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
