.Rhistory
.Rapp.history
.RData
.Ruserdata

README.md~

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
schwarzschild.Rproj


# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/*.tex
vignettes/*.bbl
vignettes/*.aux
vignettes/*.lof
vignettes/*.log
vignettes/*.out
vignettes/*.R
vignettes/*.Rout

vignettes/jss.bst
vignettes/jss.cls
vignettes/jss.dbj
vignettes/jss.drv
vignettes/jss.dtx
vignettes/jss.ins




inst/eddington.jpg
inst/eddington_outgoing.jpg
inst/gullstrand.jpg
inst/gullstrand_with_drops.jpg
inst/javelin.Rmd
inst/kruskal.jpg
inst/kruskal_extended.jpg
inst/kruskal_inverted.jpg
inst/kruskal_with_throw.jpg
inst/lemaitre.jpg
inst/lemaitre_with_schwarzschild.jpg
inst/penrose_BH_cauchy.jpg
inst/penrose_BH_extended.jpg
inst/penrose_BH_laplace.jpg
inst/penrose_BH_logistic.jpg
inst/penrose_BH_norm.jpg
inst/penrose_cauchy.jpg
inst/penrose_laplace.jpg
inst/penrose_logistic.jpg
inst/penrose_norm.jpg
inst/schwarz_stringcoords.jpg
inst/schwarzschild.jpg
inst/schwarzschild_with_drops.jpg
inst/string_coords.html
inst/thrower.jpg
inst/thrower_asp1.jpg
inst/thrower_x.jpg
inst/thrower_xy.jpg
inst/thrower_y.jpg


tests/*.R~
man/*.Rd~

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
